<div class="d-flex justify-content-between">
  <h1>Danh sách sản phẩm</h1>
  <button routerLink="/admin/products/add" class="btn btn-primary">Them moi</button>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Hinh anh</th>
      <th>Ten san pham</th>
      <th>Gia</th>
      <th>Danh muc</th>
      <th>Tinh trang</th>
      <th>Trang thai</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(product of products; track product.id; let i = $index) {
    <tr>
      <td>{{ i + 1 }}</td>
      <td>
        <img
          src="{{ product.imageUrl }}"
          alt="{{ product.name }}"
          width="100"
        />
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.in_stock   ? 'Con hang' : 'Het hang' }}</td>
      <td>{{ product.published  ? 'Hoat dong' : 'Khong hoat dong'  }}</td>
      <td>
        <button routerLink="/admin/products/{{ product.id }}/edit" class="btn btn-primary">Sua</button>
        <button (click)="handleRemove(product.id)" class="btn btn-danger">Xoa</button>
      </td>
    </tr>
    }
  </tbody>
</table>
