<form [formGroup]="productForm" (ngSubmit)="onHandSubmit()">
  <div class="form-group mb-3">
    <label for="name" class="form-label">Ten san pham</label>
    <input
      type="text"
      class="form-control"
      placeholder="Nhap ten san pham..."
      formControlName="name"
    />
    @if(productForm.controls['name'].touched &&
    productForm.controls['name'].errors?.['required']) {
    <span class="text-danger text-small"><small>Title is Required</small></span>
    }
  </div>
  <div class="form-group mb-3">
    <label for="price" class="form-label">Gia</label>
    <input
      type="text"
      class="form-control"
      formControlName="price"
      placeholder="Nhap gia..."
    />
    @if(productForm.controls['price'].touched &&
    productForm.controls['price'].errors?.['required']) {
    <span class="text-danger text-small"><small>Title is Required</small></span>
    }@else if (productForm.controls['price'].errors?.['min']) {
    <span class="text-danger text-small"
      ><small>Price must be greater than 0</small></span
    >
    }
  </div>
  <div class="form-group mb-3">
    <label for="name" class="form-label">Hinh anh</label>
    <input
      type="text"
      name="imageUrl"
      class="form-control"
      formControlName="imageUrl"
      placeholder="Hinh anh..."
    />
    @if(productForm.controls['imageUrl'].touched &&
    productForm.controls['imageUrl'].errors?.['required']) {
    <span class="text-danger text-small"><small>Title is Required</small></span>
    }
  </div>
  <div class="form-group mb-3">
    <label for="name" class="form-label">Danh muc</label>
    <select formControlName="category" class="form-control" id="">
      <option value="">Chon</option>
      <option value="Clothing">Clothing</option>
      <option value="Sports">Sports</option>
      <option value="Toys">Toys</option>
    </select>
    @if(productForm.controls['category'].touched &&
    productForm.controls['category'].errors?.['required']) {
    <span class="text-danger text-small"><small>Title is Required</small></span>
    }
  </div>
  <div class="form-group mb-3">
    <label for="name" class="form-label">Tinh trang</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        [value]="true"
        formControlName="in_stock"
      />
      <label class="form-check-label" for="flexRadioDefault1"> Con hang </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        [value]="false"
        formControlName="in_stock"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2"> Het hang </label>
    </div>
    @if(productForm.controls['in_stock'].touched &&
    productForm.controls['in_stock'].errors?.['required']) {
    <span class="text-danger text-small"><small>Title is Required</small></span>
    }
  </div>
  <div class="form-group mb-3">
    <label for="name" class="form-label">Trang thai</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        [value]="true"
        formControlName="published"
      />
      <label class="form-check-label" for="flexRadioDefault1">Hoat dong </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        formControlName="published"
        checked
        [value]="false"
      />
      <label class="form-check-label" for="flexRadioDefault2"
        >Khong hoat dong
      </label>
    </div>
    @if(productForm.controls['published'].touched &&
    productForm.controls['published'].errors?.['required']) {
    <span class="text-danger text-small"><small>Title is Required</small></span>
    }
  </div>
  <div class="form-group mb-3">
    <label for="name" class="form-label">Mo ta</label>
    <textarea
      formControlName="description"
      class="form-control"
      id=""
    ></textarea>
  </div>
  <div class="mt-3">
    <button type="submit" class="btn btn-primary">Them moi</button>
  </div>
</form>
